@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    /*Fonts*/
    --ff-accent: "Big Shoulders Display", serif;
    --ff-primary: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-primary);
    font-size: 16px;
    font-weight: 400;
}

.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
}

header {
    background-color: darkcyan;
    position: relative;
    padding: 2em 0;
}

.header__title {
    display: flex;
    justify-content: center;
    color: white;
    opacity: 0.8;
    text-decoration: none;
    font-family: var(--ff-accent);
    font-size: 3rem;
    font-weight: 700;
}

.nav__bar {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.nav__list__item {
    display: inline-block;
}

.nav__list__item + .nav__list__item {
    margin-left: 2em;
}

.nav__bar a {
    text-decoration: none;
    color: white;
    opacity: 0.8;
    text-transform: uppercase;
}

.nav__bar a:hover {
    opacity: 0.5;
}

.main__content {
    margin: 2em 0;
    text-align: center;    
}

.main__content h1{
    text-align: center;
    font-size: 1.3125rem;
    margin-bottom: 1em;
}

footer {
    background-color:lightskyblue;
    padding: 3em;
    text-align: center;
    margin-left: 250px;
}