@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    /* ----- Primary Colours -----*/
    --clr-primary-900: hsl(278, 100%, 36%);
    --clr-primary-700: hsl(213, 64%, 59%);
    --clr-primary-500: hsl(188, 70%, 61%);
    --clr-primary-300: hsl(163, 100%, 75%);
    --clr-primary-100: hsl(162, 100%, 95%);

    /* ----- Accent Colours -----*/

    /* ----- Font Styling -----*/
    --ff-primary: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--ff-primary);
    background: linear-gradient(135deg, var(--clr-primary-700), var(--clr-primary-300));
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 80rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col {
    background-color: var(--clr-primary-100);
    height: 50vh;
    border-radius: 15px;
    padding: 2em;
    box-shadow: 10px 10px 5px black;
}

.col:nth-child(1) .email_btn a,
.col:nth-child(2) p,
.col:nth-child(2) li {
    font-size: 1.125rem;
}


/* ----- Page Styling ----- */
.main {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

/* ----- Left column styling ----- */
.col:nth-child(1) {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.col:nth-child(1) img {
    margin: 0 auto;
    border-radius: 50%;
    width: 100%;
    max-width: 150px;
}

.name .title,
.social_links .title,
.info .title {
    margin-bottom: 0.25em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email_btn {
    margin-top: 1em;
}

.email_btn a {
    background-color: var(--clr-primary-500);
    padding: 0.5em 1.5em;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 5px black;
}

.email_btn a:hover {
    cursor: pointer;
    background-color: var(--clr-primary-700);
    color: var(--clr-primary-100);
    transition: background-color 250ms, color 250ms linear 100ms;
}

/* ----- Right column Styling ----- */
.col:nth-child(2) {
    padding-block: 4rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col:nth-child(2) .about__title {
    padding: 1em;
}

.col:nth-child(2) .col__about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40%;
}

.col:nth-child(2) .col__item {
    padding: 1em;
    border-radius: 15px;
    width: 30%;
}

.col:nth-child(2) .col__item ul {
    list-style: none;
}

.title {
    margin-bottom: 1em;
    position: relative;
    width: max-content;
}

/* ----- Psuedo element styling -----*/

.title::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--clr-primary-900);
    position: absolute;
    bottom: -2px;
    left: 0;
}